
.navbar .nav-link {
    color: #ffffff; /* Color de la letra blanco */
    font-weight: 500; /* Grosor medio */
}

.navbar .nav-link:hover {
    color: #6f6456; /* Cambia el color de la letra al hacer hover */
}

.navbar-custom {
    background-color: #6f6456; /* Color de fondo de los botones */
}

/* Navigation */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: rgb(233, 79, 79);
}

.logo {
    font-size: 24px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
}

/* Header Carousel */
.carousel-inner {
    height: 20rem;
}

.carousel-control-next,
.carousel-control-prev {
    color: aliceblue;
}

.carousel-item {
    height: 65vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.card-columns .card {
    display: inline-block;
    width: 100%;
}

.card-img-top {
    height: 200px !important; //esta es la parte importante para que todas tus card-img tengan la misma medida sin importar el tamaño de la imagen
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

/* Main Content */
.categories {
    display: flex;
    align-items: center;
    padding: 20px;
}

.search {
    padding: 20px;
}

.product {
    /* Add your product card styles here */
}

/* Footer */
footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

.social-media {
    display: flex;
    align-items: center;
}

.social-media img {
    width: 30px;
    margin-right: 10px;
}

.cohort {
    font-size: 18px;
}